#main {
  background-color: $color-page-background !important;
}

.fmpsv14 {
  .fm-content-wrapper,
  .fm-header-wrapper {
    width: 920px;
  }

  .fm-product-panel,
  .fm-orderlist-panel {
    width: 670px;
  }
}
