
$color-modal-light: #fff;
$color-modal-dark: #555555;
$color-modal-darker: #484848;

$color-item-lighter: #f5f5f5;
$color-item-light: #ccc;
$color-item-dark: #959595;
$color-item-darker: #757575;

$color-button-light: #ffffff;
$color-button-dark: #e5e5e5;
$color-button-darker: #a5a5a5;

$color-button-fyndiq-light: #fdc500;
$color-button-fyndiq-dark: #f39e09;
$color-button-fyndiq-darker: #de981f;
