
.fm-accept-product-export {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 8px;

        > li {
            overflow: hidden;
            background-color: $color-item-lighter;
            margin-bottom: 2px;
            padding: 2px;
            font-size: 12px;

            &:last-child {
                margin-bottom: 0;
            }

            .image {
                float: left;
                width: 35px;
                height: 35px;

                img {
                    display: block;
                    margin: 0 auto;
                    max-width: 35px;
                    max-height: 35px;
                }
            }

            .data {
                margin-left: 3px;
                float: left;
                .title {
                    h3 {
                        margin: 0;
                        font-size: 13px;
                    }
                }
                .price-info {
                    .highest-price {
                        float: left;
                    }
                    .lowest-price {
                        float: left;
                        margin-left: 5px;
                    }
                }
            }

            .final-price {
                line-height: 35px;
                float: right;
                input {
                    margin-top: 7px;
                    margin-left: 3px;
                }
            }
        }
    }
}

#fm-container {
    position: relative;
    width: 920px;
    margin: 0 auto;
    overflow: hidden;

    .fyndiqlogo {
        display: block;
        margin: 10px auto;
        width: 160px;
    }
}

#fm-main-panel {
    float: left;
    width: 660px;
}

#fm-sidebar {
    float: left;
    width: 245px;
    margin-left: 15px;
}


.fm-api-unavailable {
    text-align: center;
    font-size: 14px;
}


.fm-category-tree {
    margin: 0;
    padding: 0;

    li.active {
        font-weight: bold;
    }
}


.fm-product-list-container {
    margin: 10px 0;
}


.fm-product-list-controls {
    overflow: hidden;
    margin: 10px 0;

    .select {
        float: left;
        margin: 0;
    }

    .export {
        float: right;
        margin: 0;
    }
}


.fm-product-list {
    margin: 0;
    padding: 2px;

    > li {
        overflow: hidden;
        background-color: $color-item-lighter;
        margin-bottom: 5px;
        padding: 3px;
        border: 1px solid $color-item-darker;
        border-left: 2px solid $color-item-darker;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .product {
        position: relative;

        .title {
            margin-bottom: 5px;

            h4 {
                font-size: 14px;
                margin: 0;
                .reference {
                    font-size: 13px;
                    font-weight: normal;
                }
            }
        }

        .select {
            float: left;
            margin: 15px 5px 0;
        }

        .image {
            float: left;
            width: 50px;
            height: 50px;

            label {
                display: block;
                width: 100%;
                height: 100%;
                padding: 0;

                img {
                    display: block;
                    margin: 0 auto;
                    max-width: 50px;
                    max-height: 50px;
                }
            }
        }

        .prices {
            float: left;
            margin-left: 10px;

            .price {
                margin-bottom: 2px;
            }

            label {
                display: block;
                width: 90px;
                text-align: right;
                float: left;
            }

            input {
                display: block;
                float: left;
                width: 100px;
            }
        }

        .quantities {
            float: left;
            margin-left: 20px;
        }

        .expand {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 28px;
            height: 28px;

            img {
                display: block;
                width: 28px;
                height: 28px;
            }

            &.inactive {
                opacity: 0.2;
                filter: alpha(opacity=20);
                a {
                    cursor: default;
                }
            }
        }
    }

    .combinations {
        padding-left: 8px;
        margin-top: 3px;

        > li {
            overflow: hidden;
            padding: 3px 0;
            border-bottom: 1px solid $color-item-light;

            &:last-child {
                border: none;
            }

            .select {
                float: left;
                margin: 8px 5px 0;
            }

            .image {
                float: left;
                width: 30px;
                height: 30px;

                img {
                    display: block;
                    margin: 0 auto;
                    max-width: 30px;
                    max-height: 30px;
                }
            }

            .data {
                float: left;
                margin-left: 5px;
                width: 550px;
            }
        }
    }
}
