
// If you're wondering why a lot of things are prefixed with 'fm-'
// it's because PrestaShop defines style for lots of common words like 'error' and 'info'

@import 'mixins.scss';
@import 'overlays.scss';
@import 'style.scss';
@import 'layout.scss';
