.fm-loading-overlay {
  background: black;
  background: rgba(0, 0, 0, 0.4);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999; }
  .fm-loading-overlay img {
    width: 128px;
    height: 128px;
    display: block;
    margin: 150px auto; }

.fm-modal-overlay {
  background: black;
  background: rgba(0, 0, 0, 0.4);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999; }
  .fm-modal-overlay .container {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    width: 600px;
    margin: 50px auto;
    padding: 15px; }
    .fm-modal-overlay .container h3 {
      font-size: 18px; }
    .fm-modal-overlay .container .content {
      min-height: 200px;
      font-size: 14px; }

.fm-message-overlay {
  background-size: 40px 40px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
  width: 100%;
  color: white;
  padding: 30px 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  _position: absolute;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  animation: animate-bg 5s linear infinite; }
  .fm-message-overlay.fm-info {
    background-color: #4ea5cd;
    border-color: #3b8eb5; }
  .fm-message-overlay.fm-error {
    background-color: #de4343;
    border-color: #c43d3d; }
  .fm-message-overlay.fm-warning {
    background-color: #eaaf51;
    border-color: #d99a36; }
  .fm-message-overlay.fm-success {
    background-color: #61b832;
    border-color: #55a12c; }
  .fm-message-overlay .close {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer; }
  .fm-message-overlay h3 {
    width: 920px;
    margin: 0 auto 5px;
    color: white;
    font-size: 16px; }
  .fm-message-overlay p {
    width: 920px;
    margin: 0 auto;
    color: white;
    font-size: 14px; }

.fm-container p {
  margin: 8px 0;
  padding: 0; }
.fm-container h1, .fm-container h2, .fm-container h3, .fm-container h4, .fm-container h5, .fm-container h6 {
  margin: 0;
  padding: 0; }
.fm-container h1 {
  margin-top: 12px;
  font-size: 22px; }
.fm-container h2 {
  margin-top: 10px;
  font-size: 20px; }
.fm-container h3 {
  margin-top: 8px;
  font-size: 18px; }
.fm-container h4 {
  margin-top: 6px;
  font-size: 16px; }
.fm-container h5 {
  margin-top: 4px;
  font-size: 14px; }
.fm-container h6 {
  margin-top: 2px;
  font-size: 12px; }
.fm-container ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.fm-form {
  margin: 20px 0;
  padding: 0; }
  .fm-form fieldset {
    padding: 0 10px 10px 10px;
    background-color: transparent;
    border: 0px; }
    .fm-form fieldset legend {
      background-color: transparent;
      border: 0px;
      font-size: 14pt; }
  .fm-form label {
    margin: 0;
    padding: 0;
    width: auto;
    text-align: left;
    float: none;
    font-weight: normal; }

.fm-button::-moz-focus-inner {
  border: 0; }

.fm-button {
  border: 1px solid #a5a5a5;
  padding: 3px 12px;
  font-size: 12px;
  color: black;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  line-height: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); }
  .fm-button:active {
    background: #e5e5e5;
    background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #e5e5e5 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); }
  .fm-button:hover {
    text-decoration: none;
    color: black;
    background: #e5e5e5;
    background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #e5e5e5 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); }
  .fm-button.fyndiq {
    color: white;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    border-color: #de981f;
    background: #fdc500;
    background: -moz-linear-gradient(top, #fdc500 0%, #f39e09 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdc500), color-stop(100%, #f39e09));
    background: -webkit-linear-gradient(top, #fdc500 0%, #f39e09 100%);
    background: -o-linear-gradient(top, #fdc500 0%, #f39e09 100%);
    background: -ms-linear-gradient(top, #fdc500 0%, #f39e09 100%);
    background: linear-gradient(to bottom, #fdc500 0%, #f39e09 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc500', endColorstr='#f39e09',GradientType=0 ); }
    .fm-button.fyndiq:active {
      background: #f39e09;
      background: -moz-linear-gradient(top, #f39e09 0%, #fdc500 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f39e09), color-stop(100%, #fdc500));
      background: -webkit-linear-gradient(top, #f39e09 0%, #fdc500 100%);
      background: -o-linear-gradient(top, #f39e09 0%, #fdc500 100%);
      background: -ms-linear-gradient(top, #f39e09 0%, #fdc500 100%);
      background: linear-gradient(to bottom, #f39e09 0%, #fdc500 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39e09', endColorstr='#fdc500',GradientType=0 ); }
    .fm-button.fyndiq:hover {
      text-decoration: none;
      color: white;
      background: #f39e09;
      background: -moz-linear-gradient(top, #f39e09 0%, #fdc500 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f39e09), color-stop(100%, #fdc500));
      background: -webkit-linear-gradient(top, #f39e09 0%, #fdc500 100%);
      background: -o-linear-gradient(top, #f39e09 0%, #fdc500 100%);
      background: -ms-linear-gradient(top, #f39e09 0%, #fdc500 100%);
      background: linear-gradient(to bottom, #f39e09 0%, #fdc500 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39e09', endColorstr='#fdc500',GradientType=0 ); }

.fm-accept-product-export h3 {
  margin: 0; }
.fm-accept-product-export ul {
  list-style: none;
  padding: 0;
  margin: 8px 0; }
  .fm-accept-product-export ul > li {
    overflow: hidden;
    background-color: #f5f5f5;
    margin-bottom: 2px;
    padding: 2px;
    font-size: 12px; }
    .fm-accept-product-export ul > li:last-child {
      margin-bottom: 0; }
    .fm-accept-product-export ul > li .image {
      float: left;
      width: 35px;
      height: 35px; }
      .fm-accept-product-export ul > li .image img {
        display: block;
        margin: 0 auto;
        max-width: 35px;
        max-height: 35px; }
    .fm-accept-product-export ul > li .data {
      margin-left: 3px;
      float: left; }
      .fm-accept-product-export ul > li .data .title h3 {
        margin: 0;
        font-size: 13px; }
      .fm-accept-product-export ul > li .data .price-info .highest-price {
        float: left; }
      .fm-accept-product-export ul > li .data .price-info .lowest-price {
        float: left;
        margin-left: 5px; }
    .fm-accept-product-export ul > li .final-price {
      line-height: 35px;
      float: right; }
      .fm-accept-product-export ul > li .final-price input {
        margin-top: 7px;
        margin-left: 3px; }
.fm-accept-product-export .controls {
  text-align: right; }
  .fm-accept-product-export .controls button {
    display: inline-block; }

.fm-container {
  position: relative;
  width: 920px;
  margin: 0 auto;
  overflow: hidden; }
  .fm-container .fyndiqlogo {
    display: block;
    margin: 10px auto;
    width: 160px; }
  .fm-container .fm-category-sidebar {
    width: 140px;
    float: left;
    margin-right: 15px; }
  .fm-container .fm-main-panel {
    float: left;
    width: 730px; }
  .fm-container .fm-sidebar {
    float: left;
    width: 175px;
    margin-left: 15px; }

.fm-api-unavailable {
  text-align: center;
  font-size: 14px; }

.fm-category-tree-container {
  clear: both;
  display: block; }

.fm-category-tree {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block; }
  .fm-category-tree li.active {
    font-weight: bold; }

.fm-product-list-container {
  margin: 10px 0; }

.fm-product-list-controls {
  overflow: hidden;
  margin: 10px 0; }
  .fm-product-list-controls .select {
    float: left;
    margin: 0; }
  .fm-product-list-controls .export {
    float: right;
    margin: 0; }

.fm-menu {
  width: 99%;
  clear: both;
  padding-left: 4px;
  padding-right: -4px;
  margin-bottom: 10px;
  height: 40px;
  background: #fec600;
  background: -moz-linear-gradient(top, #fec600 0%, #f39e0a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fec600), color-stop(100%, #f39e0a));
  background: -webkit-linear-gradient(top, #fec600 0%, #f39e0a 100%);
  background: -o-linear-gradient(top, #fec600 0%, #f39e0a 100%);
  background: -ms-linear-gradient(top, #fec600 0%, #f39e0a 100%);
  background: linear-gradient(to bottom, #fec600 0%, #f39e0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec600', endColorstr='#f39e0a',GradientType=0 );
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 0px 0px #ba7a01;
  -moz-box-shadow: 1px 1px 0px 0px #ba7a01;
  box-shadow: 1px 1px 0px 0px #ba7a01; }
  .fm-menu ul {
    list-style: none;
    float: left; }
    .fm-menu ul li {
      float: left;
      display: inline-block;
      height: 40px;
      padding-left: 5px;
      padding-right: 5px; }
      .fm-menu ul li a {
        text-decoration: none;
        height: 25px;
        display: inline-block;
        padding: 5px;
        padding-top: 10px;
        text-align: center;
        font-size: 10pt;
        color: white;
        text-shadow: 1px 1px 1px #ba7a01; }
        .fm-menu ul li a:hover {
          background: #f39e0a;
          background: -moz-linear-gradient(top, #f39e0a 0%, #fec600 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f39e0a), color-stop(100%, #fec600));
          background: -webkit-linear-gradient(top, #f39e0a 0%, #fec600 100%);
          background: -o-linear-gradient(top, #f39e0a 0%, #fec600 100%);
          background: -ms-linear-gradient(top, #f39e0a 0%, #fec600 100%);
          background: linear-gradient(to bottom, #f39e0a 0%, #fec600 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39e0a', endColorstr='#fec600',GradientType=0 );
          -moz-box-shadow: inset 0 0 6px #ba7a01;
          -webkit-box-shadow: inset 0 0 6px #ba7a01;
          box-shadow: inset 0 0 6px #ba7a01; }
        .fm-menu ul li a.active {
          background: #de981f;
          background: -moz-linear-gradient(top, #de981f 0%, #f39e0a 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #de981f), color-stop(100%, #f39e0a));
          background: -webkit-linear-gradient(top, #de981f 0%, #f39e0a 100%);
          background: -o-linear-gradient(top, #de981f 0%, #f39e0a 100%);
          background: -ms-linear-gradient(top, #de981f 0%, #f39e0a 100%);
          background: linear-gradient(to bottom, #de981f 0%, #f39e0a 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de981f', endColorstr='#f39e0a',GradientType=0 );
          -moz-box-shadow: inset 0 0 6px #ba7a01;
          -webkit-box-shadow: inset 0 0 6px #ba7a01;
          box-shadow: inset 0 0 6px #ba7a01; }
    .fm-menu ul.right {
      float: right; }

.fm-product-list {
  margin: 0;
  padding: 2px; }
  .fm-product-list > li {
    overflow: hidden;
    background-color: transparent;
    margin-bottom: 5px;
    padding: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    padding: 5px; }
    .fm-product-list > li:nth-child(2n) {
      background-color: #f5f5f5; }
    .fm-product-list > li:last-child {
      margin-bottom: 0; }
  .fm-product-list .product {
    position: relative;
    overflow: hidden; }
    .fm-product-list .product .title {
      margin-bottom: 5px; }
      .fm-product-list .product .title h4 {
        font-size: 14px;
        margin: 0; }
        .fm-product-list .product .title h4 .reference {
          font-size: 13px;
          font-weight: normal; }
    .fm-product-list .product .select {
      margin: 15px 5px 0; }
    .fm-product-list .product .image {
      width: 50px;
      height: 50px; }
      .fm-product-list .product .image label {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0; }
        .fm-product-list .product .image label img {
          display: block;
          margin: 0 auto;
          max-height: 50px; }
    .fm-product-list .product .prices label {
      display: block;
      text-align: right;
      margin-right: 5px;
      float: left; }
    .fm-product-list .product .prices input {
      display: block;
      float: left;
      width: 30px; }
    .fm-product-list .product .prices .price_preview {
      display: block;
      clear: both; }
    .fm-product-list .product .quantities {
      margin-left: 20px; }
    .fm-product-list .product .status {
      margin-left: 20px; }

table tr:first-child th:first-child,
table.Info tr:first-child td:first-child {
  border-top-left-radius: 4px; }

table tr:first-child th:last-child,
table.Info tr:first-child td:last-child {
  border-top-right-radius: 4px; }

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 4px; }

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  table thead {
    font-size: 10pt;
    text-shadow: 1px 1px 1px #ba7a01;
    background-color: #f39e09;
    border: 0px;
    border-spacing: 0; }
    table thead th {
      border: 0px;
      color: white;
      padding: 6px;
      border-spacing: 0;
      border-collapse: collapse;
      text-align: left; }
  table tbody {
    border: 0px;
    border-collapse: collapse;
    font-size: 8pt; }
    table tbody tr {
      padding: 4px;
      border: 0px;
      border-collapse: collapse;
      border-spacing: 0; }
      table tbody tr:nth-child(2n) {
        background-color: #f5f5f5; }
      table tbody tr:last-child {
        border-bottom-right-radius: 4px; }
      table tbody tr td {
        padding: 4px;
        border: 0px;
        border-spacing: 0;
        border-collapse: collapse; }
        table tbody tr td img {
          max-height: 80px; }

.label {
  display: block;
  padding: 4px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: white; }
  .label.green {
    background-color: #298724; }
  .label.yellow {
    background-color: #B3B835; }

/*# sourceMappingURL=main.css.map */
