.fm-container .fm-loading-overlay {
  background: black;
  background: rgba(0, 0, 0, 0.4);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999; }
  .fm-container .fm-loading-overlay img {
    width: 128px;
    height: 128px;
    display: block;
    margin: 150px auto; }
.fm-container .fm-modal-overlay {
  background: black;
  background: rgba(0, 0, 0, 0.4);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999; }
  .fm-container .fm-modal-overlay .container {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 6px 3px #555555;
    -moz-box-shadow: 0px 0px 6px 3px #555555;
    box-shadow: 0px 0px 6px 3px #555555;
    background: #e8e8e8;
    border: 1px solid #484848;
    width: 600px;
    margin: 50px auto;
    padding: 10px; }
    .fm-container .fm-modal-overlay .container h3 {
      font-size: 18px; }
    .fm-container .fm-modal-overlay .container .content {
      min-height: 200px;
      font-size: 14px; }
.fm-container .fm-message-overlay {
  background-size: 40px 40px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
  width: 100%;
  border: 1px solid;
  color: white;
  padding: 30px 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  _position: absolute;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  animation: animate-bg 5s linear infinite; }
  .fm-container .fm-message-overlay.fm-info {
    background-color: #4ea5cd;
    border-color: #3b8eb5; }
  .fm-container .fm-message-overlay.fm-error {
    background-color: #de4343;
    border-color: #c43d3d; }
  .fm-container .fm-message-overlay.fm-warning {
    background-color: #eaaf51;
    border-color: #d99a36; }
  .fm-container .fm-message-overlay.fm-success {
    background-color: #61b832;
    border-color: #55a12c; }
  .fm-container .fm-message-overlay .close {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer; }
  .fm-container .fm-message-overlay h3 {
    width: 920px;
    margin: 0 auto 5px;
    color: white;
    font-size: 16px; }
  .fm-container .fm-message-overlay p {
    width: 920px;
    margin: 0 auto;
    color: white;
    font-size: 14px; }

.fm-container p {
  margin: 8px 0;
  padding: 0; }
.fm-container h1, .fm-container h2, .fm-container h3, .fm-container h4, .fm-container h5, .fm-container h6 {
  margin: 0;
  padding: 0; }
.fm-container h1 {
  margin-top: 12px;
  font-size: 22px; }
.fm-container h2 {
  margin-top: 10px;
  font-size: 20px; }
.fm-container h3 {
  margin-top: 8px;
  font-size: 18px; }
.fm-container h4 {
  margin-top: 6px;
  font-size: 16px; }
.fm-container h5 {
  margin-top: 4px;
  font-size: 14px; }
.fm-container h6 {
  margin-top: 2px;
  font-size: 12px; }
.fm-container ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.fm-form {
  margin: 20px 0;
  padding: 0; }
  .fm-form fieldset {
    border: none;
    background-color: transparent;
    padding: 0 10px 10px 10px; }
    .fm-form fieldset legend {
      font-size: 1.4em;
      padding: 0px; }
  .fm-form legend {
    border: none;
    background-color: transparent; }
  .fm-form label {
    margin: 0;
    padding: 0;
    width: auto;
    text-align: left;
    float: none;
    font-weight: normal; }

.fm-button::-moz-focus-inner {
  border: 0; }

.fm-button {
  border: 1px solid #a5a5a5;
  padding: 3px 12px;
  font-size: 12px;
  color: black;
  cursor: pointer;
  outline: none;
  line-height: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, white 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, white 0%, #e5e5e5 100%);
  background: linear-gradient(to bottom, white 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#e5e5e5',GradientType=0 ); }
  .fm-button:active {
    background: #e5e5e5;
    background: -moz-linear-gradient(top, #e5e5e5 0%, white 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, white));
    background: -webkit-linear-gradient(top, #e5e5e5 0%, white 100%);
    background: -o-linear-gradient(top, #e5e5e5 0%, white 100%);
    background: -ms-linear-gradient(top, #e5e5e5 0%, white 100%);
    background: linear-gradient(to bottom, #e5e5e5 0%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='white',GradientType=0 ); }
  .fm-button.fyndiq {
    color: white;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    border-color: #de981f;
    background: #fdc500;
    background: -moz-linear-gradient(top, #fdc500 0%, #f39e09 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdc500), color-stop(100%, #f39e09));
    background: -webkit-linear-gradient(top, #fdc500 0%, #f39e09 100%);
    background: -o-linear-gradient(top, #fdc500 0%, #f39e09 100%);
    background: -ms-linear-gradient(top, #fdc500 0%, #f39e09 100%);
    background: linear-gradient(to bottom, #fdc500 0%, #f39e09 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc500', endColorstr='#f39e09',GradientType=0 ); }
    .fm-button.fyndiq:active {
      background: #f39e09;
      background: -moz-linear-gradient(top, #f39e09 0%, #fdc500 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f39e09), color-stop(100%, #fdc500));
      background: -webkit-linear-gradient(top, #f39e09 0%, #fdc500 100%);
      background: -o-linear-gradient(top, #f39e09 0%, #fdc500 100%);
      background: -ms-linear-gradient(top, #f39e09 0%, #fdc500 100%);
      background: linear-gradient(to bottom, #f39e09 0%, #fdc500 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39e09', endColorstr='#fdc500',GradientType=0 ); }

.fm-accept-product-export h3 {
  margin: 0; }
.fm-accept-product-export ul {
  list-style: none;
  padding: 0;
  margin: 8px 0; }
  .fm-accept-product-export ul > li {
    overflow: hidden;
    background-color: whitesmoke;
    margin-bottom: 2px;
    padding: 2px;
    font-size: 12px; }
    .fm-accept-product-export ul > li:last-child {
      margin-bottom: 0; }
    .fm-accept-product-export ul > li .image {
      float: left;
      width: 35px;
      height: 35px; }
      .fm-accept-product-export ul > li .image img {
        display: block;
        margin: 0 auto;
        max-width: 35px;
        max-height: 35px; }
    .fm-accept-product-export ul > li .data {
      margin-left: 3px;
      float: left; }
      .fm-accept-product-export ul > li .data .title h3 {
        margin: 0;
        font-size: 13px; }
      .fm-accept-product-export ul > li .data .price-info .highest-price {
        float: left; }
      .fm-accept-product-export ul > li .data .price-info .lowest-price {
        float: left;
        margin-left: 5px; }
    .fm-accept-product-export ul > li .final-price {
      line-height: 35px;
      float: right; }
      .fm-accept-product-export ul > li .final-price input {
        margin-top: 7px;
        margin-left: 3px; }
.fm-accept-product-export .controls {
  text-align: right; }
  .fm-accept-product-export .controls button {
    display: inline-block; }

.fm-container {
  position: relative;
  width: 920px;
  margin: 0 auto;
  overflow: hidden; }
  .fm-container .fyndiqlogo {
    display: block;
    margin: 10px auto;
    width: 160px; }
  .fm-container .fm-category-sidebar {
    width: 140px;
    float: left;
    margin-right: 15px; }
  .fm-container .fm-main-panel {
    float: left;
    width: 660px; }
  .fm-container .fm-sidebar {
    float: left;
    width: 245px;
    margin-left: 15px; }

.fm-api-unavailable {
  text-align: center;
  font-size: 14px; }

.fm-category-tree-container {
  clear: both;
  display: block; }

.fm-category-tree {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block; }
  .fm-category-tree li.active {
    font-weight: bold; }

.fm-product-list-container {
  margin: 10px 0; }

.fm-product-list-controls {
  overflow: hidden;
  margin: 10px 0; }
  .fm-product-list-controls .select {
    float: left;
    margin: 0; }
  .fm-product-list-controls .export {
    float: right;
    margin: 0; }

.fm-product-list {
  margin: 0;
  padding: 2px; }
  .fm-product-list li {
    overflow: hidden;
    background-color: transparent;
    margin-bottom: 5px;
    padding: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    padding: 5px; }
    .fm-product-list li:nth-child(2n) {
      background-color: whitesmoke; }
    .fm-product-list li:last-child {
      margin-bottom: 0; }
  .fm-product-list .product {
    position: relative;
    overflow: hidden; }
    .fm-product-list .product .title {
      margin-bottom: 5px; }
      .fm-product-list .product .title h4 {
        font-size: 14px;
        margin: 0; }
        .fm-product-list .product .title h4 .reference {
          font-size: 13px;
          font-weight: normal; }
    .fm-product-list .product .select {
      float: left;
      margin: 15px 5px 0; }
    .fm-product-list .product .image {
      float: left;
      width: 50px;
      height: 50px; }
      .fm-product-list .product .image label {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0; }
        .fm-product-list .product .image label img {
          display: block;
          margin: 0 auto;
          max-width: 50px;
          max-height: 50px; }
    .fm-product-list .product .prices {
      float: left;
      margin-left: 10px; }
      .fm-product-list .product .prices .price {
        margin-bottom: 28px; }
      .fm-product-list .product .prices label {
        display: block;
        width: 90px;
        text-align: right;
        margin-right: 5px;
        float: left; }
      .fm-product-list .product .prices input {
        display: block;
        float: left;
        width: 100px; }
    .fm-product-list .product .quantities {
      float: left;
      margin-left: 20px; }
    .fm-product-list .product .expand {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 28px;
      height: 28px; }
      .fm-product-list .product .expand img {
        display: block;
        width: 28px;
        height: 28px; }
      .fm-product-list .product .expand.inactive {
        opacity: 0.2;
        filter: alpha(opacity=20); }
        .fm-product-list .product .expand.inactive a {
          cursor: default; }
  .fm-product-list .combinations {
    padding-left: 8px;
    margin-top: 3px; }
    .fm-product-list .combinations > li {
      overflow: hidden;
      padding: 3px 0;
      border-bottom: 1px solid #cccccc; }
      .fm-product-list .combinations > li:last-child {
        border: none; }
      .fm-product-list .combinations > li .select {
        float: left;
        margin: 8px 5px 0; }
      .fm-product-list .combinations > li .image {
        float: left;
        width: 30px;
        height: 30px; }
        .fm-product-list .combinations > li .image img {
          display: block;
          margin: 0 auto;
          max-width: 30px;
          max-height: 30px; }
      .fm-product-list .combinations > li .data {
        float: left;
        margin-left: 5px;
        width: 550px; }
        .fm-product-list .combinations > li .data .attributes {
          list-style: none;
          padding: 0;
          margin: 0;
          overflow: hidden; }
          .fm-product-list .combinations > li .data .attributes li {
            float: left; }
            .fm-product-list .combinations > li .data .attributes li:last-child .separator {
              display: none; }
