
#fm-container {
    label {
        margin: 0;
        padding: 0;
        width: auto;
        text-align: left;
    }
}

.fm-button::-moz-focus-inner {
    border: 0;
}
.fm-button {
    border: 1px solid #a5a5a5;
    padding: 3px 8px;
    font-size: 12px;

    color: black;
    cursor: pointer;
    outline: none;

    line-height: 16px;

    @include border-radius(3px);

    @include gradient(#ffffff, #e5e5e5);
    &:active {
        @include gradient(#e5e5e5, #ffffff);
    }

    &.fyndiq {
        color: white;
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
        font-weight: bold;
        border-color: #de981f;

        @include gradient(#fdc500, #f39e09);
        &:active {
            @include gradient(#f39e09, #fdc500);
        }
    }
}

.fm-form {
    margin: 20px 0;

    div {
        overflow: hidden;
    }
}
