<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>fyndiqmerchant</name>
	<displayName><![CDATA[Fyndiq]]></displayName>
	<version><![CDATA[1.0.4]]></version>
	<description><![CDATA[Export your products to Fyndiq and import and handle Fyndiq Orders in Prestashop.]]></description>
	<author><![CDATA[Fyndiq AB]]></author>
	<tab><![CDATA[market_place]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall this module?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
